<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generation</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Date Range Picker CSS CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Select2 CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- Notyf CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <!-- Dashboard CSS CDN -->
    <link rel="stylesheet" href="resources/css/dashboard.css">

</head>

<body style="overflow: hidden auto;">

    <div id="app" class="container-fluid p-0 m-0 position-relative" v-cloak>

        <div v-if="loaderStatus" class="loader-div flex"
            style="position: absolute;left:0px;top:0px;width:100vw;height:100vh;background-color: rgb(0, 0, 0,0.9);z-index: 2;">
            <div class="loader">

            </div>
        </div>

        <div class="side-menu" style="width: 80px;">
            <div class="nav-header mb-4">
                <a href="#">
                    <img src="resources/images/Logo.png" alt="Taskhops Logo" class="taskhops-small-logo"
                        style="width: 100%; display: block;">
                </a>
            </div>
            <div class="nav-body">
                <ul class="p-0 my-4">
                    <li style="padding-left: 2px;" title="Dashboard">
                        <a href="#" class="tab flex gap-2 justify-content-start"
                            :class="{ active: currentTab === 'Tab 1' }" v-on:click="switchTab('Tab 1')">
                            <iconify-icon icon="material-symbols:dashboard-outline"
                                style="font-size: 20px; margin-left: -2px;">
                            </iconify-icon>
                        </a>
                    </li>
                    <li title="Create Invoice">
                        <a href="#" class="tab flex gap-2 justify-content-start"
                            :class="{ active: currentTab === 'Tab 2' }" v-on:click="switchTab('Tab 2')">
                            <iconify-icon icon="carbon:document" style="font-size: 20px;"></iconify-icon>
                        </a>
                    </li>
                    <li title="Update Invoice">
                        <a href="#" class="tab flex gap-2 justify-content-start"
                            :class="{ active: currentTab === 'Tab 3' }" v-on:click="switchTab('Tab 3')">
                            <iconify-icon icon="mingcute:user-edit-fill" style="font-size: 20px;"></iconify-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main" style="margin-left: 80px;" v-if="currentTab === 'Tab 1'">
            <div class="main-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <div class="dashboard-show flex gap-2">
                            <iconify-icon icon="material-symbols:dashboard-outline" style="font-size: 20px;">
                            </iconify-icon>Invoice Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body p-3">
                <div class="row bg-white mb-2 filter-div" style="border-radius: 5px;padding: 10px;margin:0px;">
                    <div class="col-12 col-xl-3 mb-3" style="position: relative;">
                        <label for="dateRangePicker" class="d-block fw-bold mb-2"
                            style="color:var(--primary-color)">Select Date Range</label>
                        <input type="date" v-model="selectedDate" style="width:100%;">
                    </div>
                    <div class="col-12 col-xl-3 mb-3">
                        <label for="single" class="d-block fw-bold mb-2" style="color:var(--primary-color)">Select
                            Template</label>
                        <select id="single" class="js-states" style="width: 100%;">
                            <option>Template 1</option>
                            <option>Template 2</option>
                            <option>Template 3</option>
                            <option>Template 4</option>
                        </select>
                    </div>
                    <div class="col-12 col-xl-3 mb-3 search-field" style="margin-top: 30px;position: relative;">
                        <input id="searchText" type="text" style="width: 100%;" v-model="searchText" required>
                        <label for="searchText">Search</label>
                        <iconify-icon icon="ri:search-line"
                            style="position: absolute;top:15px;right:25px;"></iconify-icon>
                    </div>
                    <div class="col-12 col-xl-3 mb-3" style="margin-top: 30px;">
                        <button class="flex" style="width: 100%;" title="Download PDF"
                            v-on:click="dashboardReportDownload()">
                            <iconify-icon icon="ic:baseline-download" style="font-size: 25px;"></iconify-icon>
                            Download Report
                        </button>
                    </div>
                </div>
                <div class="card position-relative border-0 rounded-0">
                    <div class="table-card scroll-bar">
                        <table id="invoice-table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Head Name</th>
                                    <th>Address</th>
                                    <th>District</th>
                                    <th>PinCode</th>
                                    <th>GSTIN</th>
                                    <th>Place Of Supply</th>
                                    <th>R.O.No</th>
                                    <th>R.O.Date</th>
                                    <th>Product</th>
                                    <th>Key No</th>
                                    <th>Caption</th>
                                    <th>Size</th>
                                    <th>Area</th>
                                    <th>Page Position</th>
                                    <th>Rate Per Sqcm</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>CGST</th>
                                    <th>Net Amount</th>
                                    <th class="flex position-sticky"
                                        style="width:140px;height:73px;right:-10px;background-color: var(--primary-color);">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in paginatedData" :key="index">
                                    <td>{{ row.No }}</td>
                                    <td>{{ row.Date }}</td>
                                    <td>{{ row.HeadName }}</td>
                                    <td>{{ row.Address }}</td>
                                    <td>{{ row.District }}</td>
                                    <td>{{ row.PinCode }}</td>
                                    <td>{{ row.GSTIN }}</td>
                                    <td>{{ row.PlaceOfSupply }}</td>
                                    <td>{{ row.RONo }}</td>
                                    <td>{{ row.RODate }}</td>
                                    <td>{{ row.ProductName }}</td>
                                    <td>{{ row.KeyNo }}</td>
                                    <td>{{ row.Caption }}</td>
                                    <td>{{ row.SizeWidth }} X {{row.SizeHeight}}</td>
                                    <td>{{ row.AreaOfEdition }}</td>
                                    <td>{{ row.PagePosition }}</td>
                                    <td>{{ row.Rate }}</td>
                                    <td>{{ row.InitialTotal }}</td>
                                    <td>{{ row.Discount }}</td>
                                    <td>{{ row.GST }}</td>
                                    <td>{{ row.NetTotal }}</td>
                                    <td class="flex position-sticky bg-white gap-2"
                                        style="width:140px;height:72px;right:-10px;border: 1px solid rgb(185, 185, 185);">
                                        <button class="btn-view flex" title="Edit">
                                            <iconify-icon icon="fluent:edit-arrow-back-20-filled"></iconify-icon>
                                        </button>
                                        <button class="btn-view flex" title="Add"
                                            style="background-color: var(--fifth-color);">
                                            <iconify-icon icon="fluent:add-12-filled"></iconify-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="pagination">
                            <button title="First Page" v-on:click="goToPage(1)" :disabled="currentPage === 1">
                                <iconify-icon icon="material-symbols:first-page"></iconify-icon>
                            </button>
                            <button title="Previous Page" v-on:click="prevPage" :disabled="currentPage === 1">
                                <iconify-icon icon="fe:arrow-left"></iconify-icon>
                            </button>
                            <button class="page-number" :title="page" v-for="page in visiblePages" :key="page"
                                v-on:click="goToPage(page)" :class="{ power: currentPage === page }">
                                {{ page }}
                            </button>
                            <button title="Next Page" v-on:click="nextPage" :disabled="currentPage === totalPages">
                                <iconify-icon icon="fe:arrow-right"></iconify-icon>
                            </button>
                            <button title="Last Page" v-on:click="goToPage(totalPages)"
                                :disabled="currentPage === totalPages">
                                <iconify-icon icon="material-symbols:last-page"></iconify-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main" style="margin-left: 80px;" v-if="currentTab === 'Tab 2'">
            <div class="main-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12 col-md-3">
                        <div class="dashboard-show flex gap-2">
                            <iconify-icon icon="carbon:document" style="font-size: 20px;"></iconify-icon>Create Invoice
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body p-3">
                <div class="row bg-white mb-2 p-3" style="border-radius: 5px;margin:0px;">
                    <div class="col-12 col-xl-8 mb-2">
                        <h4 class="mt-2">Dynamic Invoice Report</h4>
                    </div>
                    <div class="col-12 col-xl-2 mb-2 flex">
                        <button class="add-invoice-btn flex gap-2" title="Add Invoice"
                            v-on:click="openaddInvoiceModal()">
                            <iconify-icon icon="icon-park-outline:add-one" style="font-size: 25px;"></iconify-icon>
                            Add Invoice
                        </button>
                    </div>
                    <div class="col-12 col-xl-2 mb-2 flex">
                        <button class="save-invoice-btn flex gap-2" title="Save All" v-on:click="saveInvoiceData()">
                            <iconify-icon icon="material-symbols:save" style="font-size: 25px;"></iconify-icon>
                            Save All
                        </button>
                    </div>
                </div>
                <div class="card position-relative border-0 rounded-0">
                    <div class="table-card scroll-bar">
                        <table>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Head Name</th>
                                    <th>Address</th>
                                    <th>District</th>
                                    <th>PinCode</th>
                                    <th>GSTIN</th>
                                    <th>Place Of Supply</th>
                                    <th>R.O.No</th>
                                    <th>R.O.Date</th>
                                    <th>Product</th>
                                    <th>Key No</th>
                                    <th>Caption</th>
                                    <th>Size</th>
                                    <th>Area</th>
                                    <th>Page Position</th>
                                    <th>Rate Per Sqcm</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>CGST</th>
                                    <th>Net Amount</th>
                                    <th class="flex position-sticky"
                                        style="width:100px;height:73px;right:-10px;background-color: var(--primary-color);">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in invoiceData">
                                    <td>{{ row.No }}</td>
                                    <td>{{ row.Date }}</td>
                                    <td>{{ row.HeadName }}</td>
                                    <td>{{ row.Address }}</td>
                                    <td>{{ row.District }}</td>
                                    <td>{{ row.PinCode }}</td>
                                    <td>{{ row.GSTIN }}</td>
                                    <td>{{ row.PlaceOfSupply }}</td>
                                    <td>{{ row.RONo }}</td>
                                    <td>{{ row.RODate }}</td>
                                    <td>{{ row.ProductName }}</td>
                                    <td>{{ row.KeyNo }}</td>
                                    <td>{{ row.Caption }}</td>
                                    <td>{{ row.SizeWidth }} X {{row.SizeHeight}}</td>
                                    <td>{{ row.AreaOfEdition }}</td>
                                    <td>{{ row.PagePosition }}</td>
                                    <td>{{ row.Rate }}</td>
                                    <td>{{ row.InitialTotal }}</td>
                                    <td>{{ row.Discount }}</td>
                                    <td>{{ row.GST }}</td>
                                    <td>{{ row.NetTotal }}</td>
                                    <td class="flex position-sticky bg-white gap-2"
                                        style="width:150px;height:62px;right:-10px;border: 1px solid rgb(185, 185, 185);">
                                        <button class="btn-view flex" title="View"
                                            style="background-color: var(--fifth-color)"
                                            v-on:click="editInvoice(row.No)">
                                            <iconify-icon icon="ic:baseline-remove-red-eye"></iconify-icon>
                                        </button>
                                        <button class="btn-view flex" title="Delete"
                                            style="background-color: var(--fourth-color);"
                                            v-on:click="deleteInvoice(row.No)">
                                            <iconify-icon icon="material-symbols:delete"></iconify-icon>
                                        </button>
                                    </td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="main" style="margin-left: 80px;" v-if="currentTab === 'Tab 3' ">
            <div class="main-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12 col-md-3">
                        <div class="dashboard-show flex gap-2">
                            <iconify-icon icon="mingcute:user-edit-fill"></iconify-icon></iconify-icon>Update Invoice
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body p-3">
                <div class="row bg-white flex mb-2 p-3" style="border-radius: 5px;margin:0px;">
                    <div id="ReportPage" class="box p-0">
                        <div class="gr-box gr-box-1 flex" style="grid-area: item-1">
                            <div class="heading">
                                <h6>SAI SOUNDAR AGENCY</h6>
                            </div>
                            <div class="address-info">
                                <p>307, TVK MAIN ROAD, AMMAPET,</p>
                                <p>SALEM-3.</p>
                                <p style="color:var(--theme-color)">Ph : 96009-69147, 94433-46999</p>
                                <p>Email : soundarslm9@gmail.com</p>
                                <p>saisoundarslm9@gmail.com</p>
                                <p>State : Tamilndau Code : 33</p>
                            </div>
                        </div>
                        <div class="gr-box gr-box-2 flex" style="grid-area: item-2">
                            PAN No : <span style="color: var(--theme-color);">&nbsp;BBJPS9560A</span>
                        </div>
                        <div class="gr-box gr-box-3 flex" style="grid-area: item-3">
                            (ORIGINAL)
                        </div>
                        <div class="gr-box gr-box-4 flex" style="grid-area: item-4">
                            GSTIN : <span style="color: var(--theme-color);">&nbsp;33BBJPS9560A2ZK</span>
                        </div>
                        <div class="gr-box gr-box-5 flex" style="grid-area: item-5">
                            Advertisement Invoice
                        </div>
                        <div class="gr-box gr-box-6 flex" style="grid-area: item-6">
                            <div class="left flex">
                                Invoice No:&nbsp;
                                <input type="text" v-model="invoice.No">
                            </div>
                            <div class="right flex">
                                Date:&nbsp;
                                <input type="text" v-model="invoice.Date">
                            </div>
                        </div>
                        <div class="gr-box gr-box-7 flex" style="grid-area: item-7">
                            <div class="left">
                                <div class="div-1">A/c Head : </div>
                                <div class="div-2">Address : </div>
                                <div class="div-3">Pincode : </div>
                                <div class="div-4">GSTIN : </div>
                                <div class="div-5">Place of Sudivly : </div>
                            </div>
                            <div class="right">
                                <div><textarea v-model="invoice.HeadName"></textarea></div>
                                <div><textarea v-model="invoice.Address+invoice.District"></textarea></div>
                                <div><input type="text" v-model="invoice.PinCode"></div>
                                <div><input type="text" v-model="invoice.GSTIN"></div>
                                <div><input type="text" v-model="invoice.PlaceOfSupply"></div>
                            </div>
                        </div>
                        <div class="gr-box gr-box-8 flex" style="grid-area: item-8">
                            <div class="left">
                                <div class="div-1">KALAIKADHIR </div>
                                <div class="div-2">Agency Code : </div>
                                <div class="div-3">R.O.No : </div>
                                <div class="div-4">R.O.Date : </div>
                                <div class="div-5">Product : </div>
                                <div class="div-6">Key No : </div>
                                <div class="div-7">Caption : </div>
                            </div>
                            <div class="right">
                                <div class="age-code">AAS185</div>
                                <div><input type="text" v-model="invoice.RONo"></div>
                                <div><input type="text" v-model="invoice.RODate"></div>
                                <div><input type="text" v-model="invoice.ProductName"></div>
                                <div><input type="text" v-model="invoice.KeyNo"></div>
                                <div><input type="text" v-model="invoice.Caption"></div>
                            </div>
                        </div>
                        <div class="gr-box gr-box-9 flex" style="grid-area: item-9">
                            Date of Insertion
                        </div>
                        <div class="gr-box gr-box-10 flex" style="grid-area: item-10;">
                            <div class="top flex">Size</div>
                            <div class="bottom flex">Sq Cm</div>
                        </div>
                        <div class="gr-box gr-box-11 flex" style="grid-area: item-11;">
                            Area Edition
                        </div>
                        <div class="gr-box gr-box-12 flex" style="grid-area: item-12;">
                            Position Page No.
                        </div>
                        <div class="gr-box gr-box-13 flex" style="grid-area: item-13;">
                            Rate Per Sqcm Premium
                        </div>
                        <div class="gr-box gr-box-14 flex" style="grid-area: item-14;">
                            Amount
                        </div>
                        <div class="gr-box gr-box-15 flex" style="grid-area: item-15;">
                            <input type="text" v-model="invoice.Date">
                        </div>
                        <div class="gr-box gr-box-16 flex" style="grid-area: item-16;">
                            <input type="text" v-model="invoice.SizeWidth"> X
                            <input type="text" v-model="invoice.SizeHeight">
                        </div>
                        <div class="gr-box gr-box-17 flex" style="grid-area: item-17;">
                            <input type="text" v-model="invoice.AreaOfEdition">
                        </div>
                        <div class="gr-box gr-box-18 flex" style="grid-area: item-18;">
                            <input type="text" v-model="invoice.PagePosition">
                        </div>
                        <div class="gr-box gr-box-19 flex" style="grid-area: item-19;">
                            <input type="text" v-model="invoice.Rate">
                        </div>
                        <div class="gr-box gr-box-20 flex" style="grid-area: item-20;">
                            <input type="text" v-model="invoice.interMediateTotal">
                        </div>
                        <div class="gr-box gr-box-21 flex" style="grid-area: item-21;">
                            <div class="left flex">
                                <div style="color:#00b050">Product Discount &nbsp;&nbsp;&nbsp; {{invoice.Discount}} %
                                </div>
                                <div>Amount</div>
                                <div>CGST 2.5%</div>
                                <div>SGST 2.5%</div>
                            </div>
                            <div class="right flex">
                                <div>{{invoice.DiscountTotal}}</div>
                                <div>{{invoice.interMediateTotal}}</div>
                                <div>{{invoice.GST}}</div>
                                <div>{{invoice.GST}}</div>
                            </div>
                        </div>
                        <div class="gr-box gr-box-22 flex" style="grid-area: item-22;">
                            <div class="left flex">
                                Net Amount&nbsp;
                            </div>
                            <div class="right flex">
                                {{invoice.NetTotal}}
                            </div>
                        </div>
                        <div class="gr-box gr-box-23 flex" style="grid-area: item-23;">
                            Rupees TwentyFour Thousand Nine Hundred Ninety Only
                        </div>
                        <div class="gr-box gr-box-24 flex" style="grid-area: item-24;">
                            <div class="top flex">
                                <span>For</span>
                                <p>SAI SOUNDAR AGENCY</p>
                            </div>
                            <div class="bottom flex">
                                <img src="resources/images/signature.png" alt="signature">
                            </div>
                        </div>
                        <div class="gr-box gr-box-25 flex" style="grid-area: item-25;">
                            E.&.O.E
                        </div>
                        <div class="gr-box gr-box-26" style="grid-area: item-26;">
                            Thank you for advertising with Us. We Look forward to Your Condinued
                        </div>
                        <div class="gr-box gr-box-27" style="grid-area: item-27;">
                            <div>The DD/Cheque should be drawn in favour of</div>
                            <div><b>“SAI SOUNDAR AGENCY” </b>payable at</div>
                            <div>Bank : <b>SBI Fairlands Branch,</b> by Credit to our</div>
                            <div>Current Account No. : <b>36055403919</b></div>
                            <div>RTGS : <b>SAI SOUNDAR AGENCY,</b></div>
                            <div>IFS Code : <b>SBIN0021724</b></div>
                        </div>
                    </div>
                </div>
                <div class="row bg-white mb-2 p-3" style="border-radius: 5px;margin:0px;">
                    <div class="col-12 col-md-6 col-xl-6 mb-2">
                        <button v-on:click="temp()" class="btns-download flex gap-2">
                            <iconify-icon icon="ic:baseline-download" style="font-size: 25px;"></iconify-icon>
                            Download Invoice
                        </button>
                    </div>
                    <div class="col-12 col-xl-6 mb-2">
                        <button v-on:click="UpdateInvoiceData()" class="btns-update flex gap-2">
                            <iconify-icon icon="fluent:edit-arrow-back-20-filled"
                                style="font-size:25px;"></iconify-icon>
                            Update Invoice
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Invoice Modal -->
        <div class="modal fade" id="addInvoice-Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Invoice Fields</h5>
                        <button class="btns-close flex" v-on:click="closeaddInvoiceModal()">
                            <iconify-icon icon="ic:round-close"></iconify-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Invoice Number" v-model="invoice.No">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter A/C Head Name" v-model="invoice.HeadName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Address" v-model="invoice.Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter District" v-model="invoice.District">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Pincode" v-model="invoice.PinCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter GSTIN" v-model="invoice.GSTIN">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Place Of Supply" v-model="invoice.PlaceOfSupply">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter R.O Number" v-model="invoice.RONo">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.RODate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Product Name" v-model="invoice.ProductName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Key Number" v-model="invoice.KeyNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Caption" v-model="invoice.Caption">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-1" v-model="invoice.SizeWidth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-2" v-model="invoice.SizeHeight">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Area Of Edition" v-model="invoice.AreaOfEdition">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Page Position" v-model="invoice.PagePosition">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Rate" v-model="invoice.Rate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter GST Percentage" v-model="invoice.GST">
                            </div>
                            <div class="col-12 col-xl-6 mb-3">
                                <input type="number" placeholder="Enter Discount" v-model="invoice.Discount">
                            </div>
                        </div>
                        <div class="row flex justify-content-end">
                            <div class="col-12 mb-2">
                                <button class="add-invoice-btn flex gap-2" title="Add Invoice"
                                    v-on:click="addInvoiceData()">
                                    <iconify-icon icon="icon-park-outline:add-one"
                                        style="font-size: 25px;"></iconify-icon>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Firebase App JS CDN -->
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

        <!-- Firebase Database JS CDN -->
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>


        <!-- JSPDF JS CDN's -->
        <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>


        <!-- html2canvas CDN -->
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>

        <!-- Linq JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/3.2.2/linq.min.js"></script>

        <!-- Jquery JS CDN -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <!-- Notyf JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

        <!-- Sweet Alert JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Iconify Icon JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Select 2 JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <!-- Vue JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

        <!-- Moment JS CDN -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        <!-- Date Range Picker JS CDN -->
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <!-- Dashboard JS CDN -->
        <script src="resources/js/dashboard.js"></script>

</body>

</html>