<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generation</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Date Range Picker CSS CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Select2 CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- Notyf CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <!-- Dashboard CSS CDN -->
    <link rel="stylesheet" href="resources/css/dashboard.css">

</head>

<body style="overflow: hidden auto;">
    <div id="app" class="container-fluid p-0 m-0 position-relative" v-cloak>
        <div v-if="loaderStatus" class="loader-div flex"
            style="position: absolute;left:0px;top:0px;width:100vw;height:100vh;background-color: rgb(0, 0, 0,0.9);z-index: 2;">
            <div class="loader">

            </div>
        </div>
        <div class="side-menu" style="width: 80px;">
            <div class="nav-header mb-4">
                <a href="#">
                    <img src="resources/images/Logo.png" alt="Taskhops Logo" class="taskhops-small-logo"
                        style="width: 100%; display: block;">
                </a>
            </div>
            <div class="nav-body">
                <ul class="p-0 my-4">
                    <li style="padding-left: 2px;" title="Dashboard">
                        <a href="#" class="tab flex gap-2 justify-content-start"
                            :class="{ active: currentTab === 'Tab 1' }" v-on:click="switchTab('Tab 1')">
                            <iconify-icon icon="material-symbols:dashboard-outline"
                                style="font-size: 20px; margin-left: -2px;">
                            </iconify-icon>
                        </a>
                    </li>
                    <li title="Create Invoice">
                        <a href="#" class="tab flex gap-2 justify-content-start"
                            :class="{ active: currentTab === 'Tab 2' }" v-on:click="switchTab('Tab 2')">
                            <iconify-icon icon="carbon:document" style="font-size: 20px;"></iconify-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main" style="margin-left: 80px;" v-if="currentTab === 'Tab 1'">
            <div class="main-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <div class="dashboard-show flex gap-2">
                            <iconify-icon icon="material-symbols:dashboard-outline" style="font-size: 20px;">
                            </iconify-icon>Invoice Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body p-3">
                <div class="row bg-white mb-2 filter-div" style="border-radius: 5px;padding: 10px;margin:0px;">
                    <div class="col-12 col-xl-3 mb-3" style="position: relative;">
                        <label for="dateRangePicker" class="d-block fw-bold mb-2"
                            style="color:var(--primary-color)">Select Date Range</label>
                        <input type="date" v-model="selectedDate" style="width:100%;">
                    </div>
                    <div class="col-12 col-xl-3 mb-3">
                        <label for="single" class="d-block fw-bold mb-2" style="color:var(--primary-color)">Select
                            Template</label>
                        <select id="single" class="js-states" style="width: 100%;">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                            <option>d</option>
                        </select>
                    </div>
                    <div class="col-12 col-xl-3 mb-3 search-field" style="margin-top: 30px;position: relative;">
                        <input id="searchText" type="text" style="width: 100%;" v-model="searchText" required>
                        <label for="searchText">Search</label>
                        <iconify-icon icon="ri:search-line"
                            style="position: absolute;top:15px;right:25px;"></iconify-icon>
                    </div>
                    <div class="col-12 col-xl-3 mb-3" style="margin-top: 30px;">
                        <button class="flex" style="width: 100%;" title="Download PDF" v-on:click="dashboardReportDownload()">
                            <iconify-icon icon="ic:baseline-download" style="font-size: 25px;"></iconify-icon>
                            Download Report
                        </button>
                    </div>
                </div>
                <div class="card position-relative border-0 rounded-0">
                    <div class="table-card scroll-bar">
                        <table id="invoice-table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Head Name</th>
                                    <th>Address</th>
                                    <th>District</th>
                                    <th>PinCode</th>
                                    <th>GSTIN</th>
                                    <th>Place Of Supply</th>
                                    <th>R.O.No</th>
                                    <th>R.O.Date</th>
                                    <th>Product</th>
                                    <th>Key No</th>
                                    <th>Caption</th>
                                    <th>Size</th>
                                    <th>Area</th>
                                    <th>Page Position</th>
                                    <th>Rate Per Sqcm</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>CGST</th>
                                    <th>Net Amount</th>
                                    <th class="flex position-sticky"
                                        style="width:140px;height:73px;right:-10px;background-color: var(--primary-color);">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in paginatedData" :key="index">
                                    <td>{{ row.No }}</td>
                                    <td>{{ row.Date }}</td>
                                    <td>{{ row.HeadName }}</td>
                                    <td>{{ row.Address }}</td>
                                    <td>{{ row.District }}</td>
                                    <td>{{ row.PinCode }}</td>
                                    <td>{{ row.GSTIN }}</td>
                                    <td>{{ row.PlaceOfSupply }}</td>
                                    <td>{{ row.RONo }}</td>
                                    <td>{{ row.RODate }}</td>
                                    <td>{{ row.ProductName }}</td>
                                    <td>{{ row.KeyNo }}</td>
                                    <td>{{ row.Caption }}</td>
                                    <td>{{ row.SizeWidth }} X {{row.SizeHeight}}</td>
                                    <td>{{ row.AreaOfEdition }}</td>
                                    <td>{{ row.PagePosition }}</td>
                                    <td>{{ row.Rate }}</td>
                                    <td>{{ row.InitialTotal }}</td>
                                    <td>{{ row.Discount }}</td>
                                    <td>{{ row.GST }}</td>
                                    <td>{{ row.NetTotal }}</td>
                                    <td class="flex position-sticky bg-white gap-2"
                                        style="width:140px;height:72px;right:-10px;border: 1px solid rgb(185, 185, 185);">
                                        <button class="btn-view flex" title="Edit">
                                            <iconify-icon icon="fluent:edit-arrow-back-20-filled"></iconify-icon>
                                        </button>
                                        <button class="btn-view flex" title="Add"
                                            style="background-color: var(--fifth-color);">
                                            <iconify-icon icon="fluent:add-12-filled"></iconify-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="pagination">
                            <button title="First Page" v-on:click="goToPage(1)" :disabled="currentPage === 1">
                                <iconify-icon icon="material-symbols:first-page"></iconify-icon>
                            </button>
                            <button title="Previous Page" v-on:click="prevPage" :disabled="currentPage === 1">
                                <iconify-icon icon="fe:arrow-left"></iconify-icon>
                            </button>
                            <button class="page-number" :title="page" v-for="page in visiblePages" :key="page"
                                v-on:click="goToPage(page)" :class="{ power: currentPage === page }">
                                {{ page }}
                            </button>
                            <button title="Next Page" v-on:click="nextPage" :disabled="currentPage === totalPages">
                                <iconify-icon icon="fe:arrow-right"></iconify-icon>
                            </button>
                            <button title="Last Page" v-on:click="goToPage(totalPages)"
                                :disabled="currentPage === totalPages">
                                <iconify-icon icon="material-symbols:last-page"></iconify-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main" style="margin-left: 80px;" v-if="currentTab === 'Tab 2'">
            <div class="main-header">
                <div class="row" style="width: 100%;">
                    <div class="col-12 col-md-3">
                        <div class="dashboard-show flex gap-2">
                            <iconify-icon icon="carbon:document" style="font-size: 20px;"></iconify-icon>Create Invoice
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body p-3">
                <div class="row bg-white mb-2 p-3" style="border-radius: 5px;margin:0px;">
                    <div class="col-12 col-xl-8 mb-2">
                        <h4 class="mt-2">Dynamic Invoice Report</h4>
                    </div>
                    <div class="col-12 col-xl-2 mb-2 flex">
                        <button class="add-invoice-btn flex gap-2" title="Add Invoice"
                            v-on:click="openaddInvoiceModal()">
                            <iconify-icon icon="icon-park-outline:add-one" style="font-size: 25px;"></iconify-icon>
                            Add Invoice
                        </button>
                    </div>
                    <div class="col-12 col-xl-2 mb-2 flex">
                        <button class="save-invoice-btn flex gap-2" title="Save All" v-on:click="saveInvoiceData()">
                            <iconify-icon icon="material-symbols:save" style="font-size: 25px;"></iconify-icon>
                            Save All
                        </button>
                    </div>
                </div>
                <div class="card position-relative border-0 rounded-0">
                    <div class="table-card scroll-bar">
                        <table>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Head Name</th>
                                    <th>Address</th>
                                    <th>District</th>
                                    <th>PinCode</th>
                                    <th>GSTIN</th>
                                    <th>Place Of Supply</th>
                                    <th>R.O.No</th>
                                    <th>R.O.Date</th>
                                    <th>Product</th>
                                    <th>Key No</th>
                                    <th>Caption</th>
                                    <th>Size</th>
                                    <th>Area</th>
                                    <th>Page Position</th>
                                    <th>Rate Per Sqcm</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>CGST</th>
                                    <th>Net Amount</th>
                                    <th class="flex position-sticky"
                                        style="width:100px;height:73px;right:-10px;background-color: var(--primary-color);">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in invoiceData">
                                    <td>{{ row.No }}</td>
                                    <td>{{ row.Date }}</td>
                                    <td>{{ row.HeadName }}</td>
                                    <td>{{ row.Address }}</td>
                                    <td>{{ row.District }}</td>
                                    <td>{{ row.PinCode }}</td>
                                    <td>{{ row.GSTIN }}</td>
                                    <td>{{ row.PlaceOfSupply }}</td>
                                    <td>{{ row.RONo }}</td>
                                    <td>{{ row.RODate }}</td>
                                    <td>{{ row.ProductName }}</td>
                                    <td>{{ row.KeyNo }}</td>
                                    <td>{{ row.Caption }}</td>
                                    <td>{{ row.SizeWidth }} X {{row.SizeHeight}}</td>
                                    <td>{{ row.AreaOfEdition }}</td>
                                    <td>{{ row.PagePosition }}</td>
                                    <td>{{ row.Rate }}</td>
                                    <td>{{ row.InitialTotal }}</td>
                                    <td>{{ row.Discount }}</td>
                                    <td>{{ row.GST }}</td>
                                    <td>{{ row.NetTotal }}</td>
                                    <td class="flex position-sticky bg-white gap-2"
                                        style="width:150px;height:62px;right:-10px;border: 1px solid rgb(185, 185, 185);">
                                        <button class="btn-view flex" title="Edit" v-on:click="editInvoice(row.No)">
                                            <iconify-icon icon="fluent:edit-arrow-back-20-filled"></iconify-icon>
                                        </button>
                                        <button class="btn-view flex" title="Delete"
                                            style="background-color: var(--fourth-color);"
                                            v-on:click="deleteInvoice(row.No)">
                                            <iconify-icon icon="material-symbols:delete"></iconify-icon>
                                        </button>
                                        <button class="btn-view flex" title="View"
                                            style="background-color: var(--fifth-color)"
                                            v-on:click="showInvoice(row.No)">
                                            <iconify-icon icon="ic:baseline-remove-red-eye"></iconify-icon>
                                        </button>
                                    </td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Invoice Modal -->
        <div class="modal fade" id="addInvoice-Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Invoice Fields</h5>
                        <button class="btns-close flex" v-on:click="closeaddInvoiceModal()">
                            <iconify-icon icon="ic:round-close"></iconify-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Invoice Number" v-model="invoice.No">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter A/C Head Name" v-model="invoice.HeadName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Address" v-model="invoice.Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter District" v-model="invoice.District">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Pincode" v-model="invoice.PinCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter GSTIN" v-model="invoice.GSTIN">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Place Of Supply" v-model="invoice.PlaceOfSupply">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter R.O Number" v-model="invoice.RONo">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.RODate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Product Name" v-model="invoice.ProductName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Key Number" v-model="invoice.KeyNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Caption" v-model="invoice.Caption">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-1" v-model="invoice.SizeWidth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-2" v-model="invoice.SizeHeight">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Area Of Edition" v-model="invoice.AreaOfEdition">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Page Position" v-model="invoice.PagePosition">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Rate" v-model="invoice.Rate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter GST Percentage" v-model="invoice.GST">
                            </div>
                            <div class="col-12 col-xl-6 mb-3">
                                <input type="number" placeholder="Enter Discount" v-model="invoice.Discount">
                            </div>
                        </div>
                        <div class="row flex justify-content-end">
                            <div class="col-12 mb-2">
                                <button class="add-invoice-btn flex gap-2" title="Add Invoice"
                                    v-on:click="addInvoiceData()">
                                    <iconify-icon icon="icon-park-outline:add-one"
                                        style="font-size: 25px;"></iconify-icon>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show Invoice Modal -->
        <div class="modal fade" id="showInvoice-Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invoice Details</h5>
                        <button class="btns-close flex" v-on:click="closeshowInvoiceModal()">
                            <iconify-icon icon="ic:round-close"></iconify-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                Bill No : {{showInvoiceData.No}}
                            </div>
                            <div class="col-12">
                                Bill Date : {{showInvoiceData.Date}}
                            </div>
                            <div class="col-12">
                                Head Name : {{showInvoiceData.HeadName}}
                            </div>
                            <div class="col-12">
                                Address : {{showInvoiceData.Address}}
                            </div>
                            <div class="col-12">
                                Pincode : {{showInvoiceData.Pincode}}
                            </div>
                            <div class="col-12">
                                GSTIN : {{showInvoiceData.GSTIN}}
                            </div>
                            <div class="col-12">
                                Place Of Supply : {{showInvoiceData.PlaceOfSupply}}
                            </div>
                            <div class="col-12">
                                R.O.No : {{showInvoiceData.RONo}}
                            </div>
                            <div class="col-12">
                                R.O.Date : {{showInvoiceData.RODate}}
                            </div>
                            <div class="col-12">
                                Product : {{showInvoiceData.ProductName}}
                            </div>
                            <div class="col-12">
                                Key No : {{showInvoiceData.ProductName}}
                            </div>
                            <div class="col-12">
                                Caption : {{showInvoiceData.Caption}}
                            </div>
                            <div class="col-12">
                                Size : {{showInvoiceData.SizeWidth}} X {{showInvoice.SizeHeight}}
                            </div>
                            <div class="col-12">
                                Area Of Edition : {{showInvoiceData.AreaOfEdition}}
                            </div>
                            <div class="col-12">
                                Position Page No : {{showInvoiceData.PagePosition}}
                            </div>
                            <div class="col-12">
                                Rate Per Sqcm : {{showInvoiceData.Rate}}
                            </div>
                            <div class="col-12">
                                Initial Amount : {{showInvoiceData.InitialTotal}}
                            </div>
                            <div class="col-12">
                                Discount : {{showInvoiceData.Discount}}
                            </div>
                            <div class="col-12">
                                Discount Amount: {{showInvoiceData.DiscountTotal}}
                            </div>
                            <div class="col-12">
                                GST Percent: {{showInvoiceData.GST}}
                            </div>
                            <div class="col-12">
                                GST Amount: {{showInvoiceData.interMediateTotal}}
                            </div>
                            <div class="col-12">
                                Net Amount: {{showInvoiceData.NetTotal}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Invoice Modal -->
        <div class="modal fade" id="editInvoice-Modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Invoice Details</h5>
                        <button class="btns-close flex" v-on:click="closeeditInvoiceModal()">
                            <iconify-icon icon="ic:round-close"></iconify-icon>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Invoice Number" v-model="invoice.No">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter A/C Head Name" v-model="invoice.HeadName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Address" v-model="invoice.Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter District" v-model="invoice.District">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Pincode" v-model="invoice.PinCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter GSTIN" v-model="invoice.GSTIN">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Place Of Supply" v-model="invoice.PlaceOfSupply">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter R.O Number" v-model="invoice.RONo">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="date" v-model="invoice.RODate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Product Name" v-model="invoice.ProductName">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Key Number" v-model="invoice.KeyNo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Caption" v-model="invoice.Caption">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-1" v-model="invoice.SizeWidth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter Size-2" v-model="invoice.SizeHeight">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Area Of Edition" v-model="invoice.AreaOfEdition">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Page Position" v-model="invoice.PagePosition">
                            </div>
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="text" placeholder="Enter Rate" v-model="invoice.Rate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-2">
                                <input type="number" placeholder="Enter GST Percentage" v-model="invoice.GST">
                            </div>
                            <div class="col-12 col-xl-6 mb-3">
                                <input type="number" placeholder="Enter Discount" v-model="invoice.Discount">
                            </div>
                        </div>
                        <div class="row flex justify-content-end">
                            <div class="col-12 mb-2">
                                <button class="edit-invoice-btn flex gap-2" v-on:click="UpdateInvoiceData()">
                                    <iconify-icon icon="fluent:edit-arrow-back-20-filled"
                                        style="font-size:25px;"></iconify-icon>
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Firebase App JS CDN -->
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

        <!-- Firebase Database JS CDN -->
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>


        <!-- JSPDF JS CDN's -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>

        <!-- Linq JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/3.2.2/linq.min.js"></script>

        <!-- Jquery JS CDN -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <!-- Notyf JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

        <!-- Iconify Icon JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Select 2 JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <!-- Vue JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

        <!-- Moment JS CDN -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        <!-- Date Range Picker JS CDN -->
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <!-- Dashboard JS CDN -->
        <script src="resources/js/dashboard.js"></script>

</body>

</html>