  /* Important Code */
  :root {
      --primary-color: #34495e;
      --primary-light-color: #34495e;
      --secondary-color: #fff;
      --secondary-light-color: #efeeee;
      --third-color: #f39c12;
  }

  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  a {
      text-decoration: none;
      outline: none;
  }

  ul li {
      list-style: none;
  }

  /* Scroll bar design */

  .scroll-bar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
      background-color: rgb(148, 143, 143);
      border-radius: 10px;
      height: 50px;
  }

  .scroll-bar::-webkit-scrollbar-thumb:hover {
      background-color: #6c757d;
  }

  .scroll-bar::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 4px;
  }

  /* Side Menu */
  .side-menu {
      height: 100vh;
      position: fixed;
      top: 0;
      background-color: var(--primary-color);
      padding: 30px 20px;
  }

  .nav-header h4 {
      color: var(--secondary-color);
      text-align: center;
      font-size: 18px;
      border: 1px solid var(--secondary-color);
      padding: 10px;
      color: var(--secondary-color);
      border-radius: 5px;
      font-weight: bold;
  }

  .nav-body p {
      color: #BDC7EB;
      font-size: 12px;
      margin: 30px 0px;
  }

  .nav-body .tab {
      color: var(--secondary-color);
      padding: 10px;
      margin: 5px 0px;
      border-radius: 5px;
      transition: 0.2s;
  }

  .nav-body .tab.active {
      background-color: var(--secondary-color);
      color: var(--primary-color);
  }

  /* Main Body */
  .main {
      min-height: 100vh;
      background-color: var(--secondary-light-color);
      padding: 0px 0px 50px 0px;
  }

  .main .expand-button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
      font-size: 30px;
  }

  .main .expand-button:hover {
      color: var(--primary-color);
  }

  .main-header {
      justify-content: space-between;
      background-color: var(--primary-light-color);
      padding: 10px 15px;
      border: 2px solid var(--secondary-light-color);
  }

  .main-header h1 {
      font-size: 25px;
      font-weight: bold;
      color: var(--primary-color);
  }

  .main-body .create-div {
      padding: 15px 20px;
  }

  .main-header .dashboard-show {
      color: var(--secondary-color);
      justify-content: flex-start;
      border-radius: 5px;
      font-weight: bold;
      font-size: 25px;
  }

  .main-body .card {
      margin: 5px 15px;
  }

  .main-body .table-card {
      max-width: 1500px;
      overflow: scroll hidden;
      padding: 10px;
  }

  .main-body .table-card table {
      border-collapse: collapse;
      border-radius: 15px;
  }

  .main-body .filter-div {
      width: 100%;
      padding: 15px 20px;
  }

  /* Table Styles */
  .main-body table thead {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      height: 40px;
  }

  .main-body table thead tr th {
      padding: 10px 35px;
      text-align: center;
  }

  .main-body table tbody tr td {
      padding: 10px;
      text-align: center;
  }

  .main-body table tbody tr:nth-child(even) {
      background-color: var(--secondary-light-color);
  }

  .table-card .btn-view {
      border: none;
      outline: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--third-color);
      color: var(--secondary-color);
      cursor: pointer;
      transition: 0.2s;
  }

  .table-card .btn-view:hover {
      transform: scale(1.2);
  }

  .filter-div input[type='text'] {
      border: none;
      outline: none;
      padding: 10px 45px 10px 10px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .filter-div .select2-selection {
      height: 43px !important;
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .filter-div .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 42px;
  }

  .filter-div .select2-selection__arrow {
      position: relative;
  }

  .filter-div .select2-selection__arrow b {
      display: none;
  }


  .filter-div .select2-selection__arrow::before {
      content: '';
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%2334495e' fill-rule='evenodd' d='m6 7l6 6l6-6l2 2l-8 8l-8-8z'/%3E%3C/svg%3E");
  }

  /* Pagination Styles */
  .pagination {
      gap: 10px;
      justify-content: end;
      padding: 0px 30px;
  }

  .pagination>button {
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
  }

  .page-number {
      background-color: #dfdfda !important;
  }

  .active-page {
      background-color: var(--primary-color) !important;
      color: var(--secondary-color);
  }

  /* Vue Display None */
  [v-cloak] {
      display: none;
  }